body,
html {

    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
    color: #F0F0F0;
    overflow-x: hidden;
}
.carousel-dots {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 5px;
}

.carousel-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
    cursor: pointer;
}

.carousel-dot.active {
    background-color: green;
}


.carousel {
    position: relative;
}


.carousel-image {
    width: 100%;
    height: 100%;
    display: none;
    object-fit: cover;
    transition: opacity 0.5s ease;
}

.carousel-image.active {
    display: block;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #004526;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 50%;
    font-size: 18px;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

button.prev:hover,
button.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.main-div {
    display: flex;
    width: 100%;
}

.left-menu {
    width: 20%;
    background-color: #EBF3FE;
}

.left-menu ul li {
    list-style-type: none;
}

.left-menu ul {
    margin: 0;
    padding: 0;
}

.main-mobile-icon {
    color: #004526;
}

.left-menu ul li a {
    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 20px;
    border-bottom: 0.1px solid gray;
}

.left-menu ul li a:hover {
    background-color: #007244;
    color: white;
    transform: scale(1.01);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.main-mobile-icon {
    margin-right: 10px;
}

.header-container {
    width: 100%;
    border-bottom: 1px solid black;
    height: auto;
}

.pre-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px 20px;
    box-sizing: border-box;
    gap: 10px;
}

.header-span {
    display: flex;
    align-items: center;
}

.search-input {
    border: none;
    width: 100%;
    color: green;
    cursor: pointer;

}

.search-container {
    display: flex;
    flex: 1;
    background-color: white;
    padding: 6px;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 1, 0, 0.5);
    justify-content: space-between;
    cursor: pointer;

}

.material-symbols-outlined {
    color: green;
}

.logos-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.main-logo {

    width: 60px;
    border-radius: 60%;
    object-fit: cover;


}

.header-logos {
    padding: 6px;
}

.header-logos i {
    font-size: 20px;
    color: #478778;
    cursor: pointer;
    transition: transform 0.2s;
}

.header-logos i:hover {
    transform: scale(1.2);
}

.cart-icon {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip-text-navbar {
    visibility: hidden;
    opacity: 0;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 15px;
    padding: 10px 16px;
    position: absolute;
    top: 125%;
    left: 40%;
    transform: translateX(-50%);
    transition: opacity 0.3s ease;
    font-size: 12px;
    white-space: nowrap;
    z-index: 10;
    border: 1px solid green;
}



.cart-icon:hover .tooltip-text-navbar {
    visibility: visible;
    opacity: 1;
}




.secondary-header {
    display: flex;
    align-items: stretch;

    justify-content: flex-start;
    width: 100%;
    background: linear-gradient(to right, #004526, #006241, #00674b, #006241, #018749, #018749);
    margin: 0;
}

.ul-nav-secondary-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    gap: 12px;
}



.ul-nav-secondary-header,
a {
    display: flex;
    align-items: space-between;
    text-decoration: none;
    color: black;
    padding: 4px 8px;
    box-sizing: border-box;
    border: 1px solid transparent;
    border-radius: 0;
    transition: background-color 0.25s ease, border-color 0.25s ease, transform 0.15s ease;

}

.ul-nav-secondary-header li:first-child a {
    border-radius: none;
    border: none;
    background-color: white;
    color: black;
    border-color: transparent;
    height: 100%;
    margin-bottom: 0px;

}

.ul-nav-secondary-header a:hover {
    color: black;
    border-radius: 20px;
    border-color: rgba(255, 255, 255, 0.9);

    background-color: rgba(255, 255, 255, 0.12);

    transform: translateY(-1px);


}

.ul-nav-secondary-header {
    gap: 12px;

}

.helpmega {
    margin-left: 6px;
    color: black;
    padding-top: 2px;
}

.show-products-list {
    position: relative;
}

.show-products-list>a {

    display: block;
    background-color: white;
    color: black;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 0;
    height: 100%;
    box-sizing: border-box;
}

.show-products-list>a {
    display: block;
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-bottom: none;
    position: relative;
    z-index: 2;

}

.mobile-icon {
    color: #22A7F0;
    padding-left: 6px;
    padding-right: 6px;
}

.products-list {
    display: none;
    position: absolute;
    padding: 0px;
    margin: 0px;
    top: 100%;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 0 0 6px 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    flex-direction: column;
    z-index: 999;
}

.show-products-list:hover .products-list {
    display: flex;
    justify-content: start;
    align-items: start;
}

.show-products-list:hover>a {
    background-color: white;
    border-radius: 0;
    border-bottom: none;
}

.products-list li {
    padding: 14px;
    cursor: pointer;
    list-style: none;
    width: 200px;
}

.products-list li:hover {
    background-color: #e8f5e9;
}

.ul-nav-secondary-header a:hover {
    transform: none !important;
    border-radius: 0 !important;
}


.megaproducts {
    margin-right: 6px;
    color: black;
    padding-top: 2px;
}



.about-contain {
    display: flex;
    width: 100%;
    padding-top: 6px;
    padding-bottom: 6px;
    justify-content: space-between;

}

.main-container {
    position: relative;
    display: inline-block;
    margin: 4px;
    min-width: 200px;
}

.redirect-contain {
    position: absolute;
    bottom: 10px;
    border-radius: 15px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;

    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 2;
}

.redirect-contain:hover {
    background-color: rgba(0, 0, 0, 0.7);
    transform: scale(1.1);
}


.tooltip-text {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 120%;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    padding: 10px 16px;
    border: 1px solid #236627;
    border-radius: 15px;
    font-size: 12px;
    white-space: nowrap;
    transition: opacity 0.3s ease;
    pointer-events: none;
    z-index: 5;
}

.redirect-contain:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.preview-contain {
    position: absolute;
    top: 10px;
    left: 4px;
    background: linear-gradient(to right, #265FCF, #22A7F0, #A9D9AC);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 0px 10px 0px 10px;

}

.image-contain {
    display: block;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    margin: 4px;
    min-width: 90px;
}

.dual-video-section {
    display: flex;
    width: 100%;
    height: auto;
    overflow: hidden;
    justify-content: space-between;
}

.video-box {
    position: relative;
    overflow: hidden;
    margin: 6px;
    border-radius: 15px;
    cursor: pointer;
}

.video-box video {
    width: 400px;
    height: 400px;
    object-fit: cover;
}

.day-offer {
    padding: 10px;
    background-color: #81c784;
    color: white;
    position: absolute;
    top: 10px;
    left: 0px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.akses-ofert {
    position: absolute;
    bottom: 5px;
    left: 35%;
    background-color: #22A7F0;
    padding: 4px;
    border-radius: 15px;
    cursor: pointer;
}

.video-text {
    position: absolute;
    top: 80%;
    left: 200px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    padding: 6px;
    min-width: fit-content;
}



.phonesection {
    background-color: #F5F5F5;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
    padding-top: 10px;
    position: relative;
}

.scroll-btn-left {
    position: absolute;
    left: 14px;
    top: 50%;
    background-color: rgba(71, 135, 120, 0.8);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.s ease, transform 0.2s ease;
    z-index: 100;



}

.scroll-btn-right {
    position: absolute;
    right: 14px;
    top: 50%;
    background-color: rgba(71, 135, 120, 0.8);
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    z-index: 100;
}

h1 {
    margin: 0;
    color: #585858;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.phonecardscontainer {
    display: flex;
    overflow-x: auto;
    overflow-y: visible;
    width: 100vw;
    max-width: 100%;
    gap: 20px;
    padding: 10px;
    box-sizing: border-box;
    margin: 0;
}

.tooltip-text-btn {
    z-index: 1000;

}


.phonecardscontainer::-webkit-scrollbar {
    display: none;
}

.phonecard {
    overflow: visible;

    height: 100px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: left;
    color: black;
    height: max-content;
    position: relative;
}

.phoneimage {

    width: 150px;
    height: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.about-phone {
    background-color: #EF2100;
    position: absolute;
    top: 45%;
    left: 10px;
    border-radius: 5px;
    color: white;
    font-size: smaller;

}

.phoneprice {

    font-size: 10px;
    font-weight: bold;
    object-fit: cover;
    color: red;
}

.phonename {
    font-size: 12px;
    font-weight: bold;
    object-fit: cover;


}

.buyphone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 6px;
    overflow: visible;

}

.buyphone button {
    background-color: #478778;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.buyphone-btn {
    position: relative;
    cursor: pointer;
}

.buyphone-btn .tooltip-text-btn {
    visibility: hidden;
    width: 160px;
    border: 1px solid green;
    background-color: white;
    color: black;
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    position: absolute;
    bottom: 12%;
    right: -60px;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    z-index: 9999;
    white-space: nowrap;
}

.buyphone-btn:hover .tooltip-text-btn {
    visibility: visible;
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

.phonedescription {
    background-color: #f0f0f0;
    flex-wrap: wrap;
    border-radius: 8px;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    color: black;
    font-size: 12px;
}

.cart-container {
    background-color: #E8E8E8;
    color: black;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
    flex-direction: column;
}

.cart-container-items {
    display: flex;
    border-bottom: 1px solid black;
    width: fit-content;
    align-content: center;
    align-self: center;
}

.image-item {
    width: 90px;
    height: 90px;
}

.item-container {
    width: 100%;
    display: flex;
}

.name-item {
    margin-top: 45px;
    margin-left: 10px;
}

.header-item {
    border-bottom: 1px solid black
}

.price-item {
    margin-top: 25px;
    padding-top: 100px;
    padding: 20px;
}

.input-value-item {
    width: 50px;
    padding: 6px;
    margin-right: 50px;
    border: 1px solid green;
    border-radius: 12px;

    color: black;
}

.remove-button {
    padding: 6px;
    background-color: #EF2100;
    border: none;
    border-radius: 12px;
    color: #e8f5e9;
    cursor: pointer;
}

.item {
    margin-right: 20px;
}

.item:last-child {
    margin-right: 0px;
}

.input-value {
    margin-top: 20px;
    padding-top: 20px;

}

.total-cart {
    width: fit-content;
    align-self: center;
    margin-top: 15px;
    margin-left: 28%;
    font-size: 18px;
    font-weight: bold;
    color: #1b5e20;


}

.send-order {
    width: fit-content;
    align-self: center;
    font-size: 18px;
    font-weight: bold;
    color: #1b5e20;

}

.section-header {
    color: black;
}

.send-order-button {
    padding: 10px 20px;
    background-color: #22A7F0;
    color: #e8f5e9;
    border: none;
    border-radius: 12px;
    cursor: pointer;
}

.cart-header {
    font-weight: bold;
    font-size: 1.25em;
    color: #333;
}

.cart-column {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    margin-right: 1.5em;
    padding-bottom: 10px;
    margin-top: 10px;
}

.cart-row {
    display: flex;
}

.cart-item {
    width: 45%;
}

.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: .5em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 10px;
}

.btn-danger {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
    padding: 9px;
    cursor: pointer;
}

.btn-danger:hover {
    background-color: #CC4C4C;
}

.cart-quantity-input {
    height: 34px;
    width: 50px;
    border-radius: 5px;
    border: 1px solid #56CCF2;
    background-color: #eee;
    color: #333;
    padding: 0;
    text-align: center;
    font-size: 1.2em;
    margin-right: 25px;
}

.cart-row:last-child {
    border-bottom: 1px solid black;
}

.cart-row:last-child .cart-column {
    border: none;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.cart-total-price {
    color: #333;
    font-size: 1.1em;
}

.btn-purchase {
    display: block;
    margin: 40px auto 80px auto;
    font-size: 1.75em;
    background-color: #1b5e20;
    border-radius: 12px;
    color: white;
    cursor: pointer;
}

.section-header {
    display: flex;
    justify-content: center;

}

.icon-contain-link {
    color: white;

}

.container {
    width: 100%;
    background-color: #F0F0F0;
}

.empty-message {
    color: black;

    border-radius: 15px;
    display: flex;
    justify-content: center;
    background-color: #F4F4F4;
}

.footer-section {
    background-color: #F1F8FE;

    padding: 12px;
}

.div-footer {
    display: flex;
    color: #1b5e20;
    flex-direction: column;
    font-size: 12px;
}

.main-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.header-footer-contain {
    font-size: 15px;
    color: #236627;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.span-header-footer-contain {
    padding: 8px;

}

.ask-support-button {
    width: fit-content;
    background-color: #22A7F0;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 15px;
    color: white;
}

.footer-nav-div li {
    display: flex;

}

.footer-nav-div li a {
    display: flex;
    color: #236627;
}

.footer-ul {
    display: flex;
    margin-right: 10px;
    color: #236627;

}

.footer-ul.a {
    color: #236627;
}

.footer-nav-div {

    display: flex;
    justify-content: center;
}

.copyright {
    padding: 20px;
    color: black;
    font-size: 10px;
}

.social-div {
    width: fit-content;
    display: flex;
    justify-content: center;
}

#map {
    height: 300px;
    width: 100%;
    border-radius: 10px;
    margin: 20px;
}




/* Ketu fillon stilimi per media queries */
@media (max-width: 500px) {
    .phonecard {
        width: 80%;
    }

    .phonecardscontainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
        overflow-y: visible;
        overflow-x: auto;
        justify-content: space-around;
        width: 100%;
    }




    .scroll-button {
        display: none;
    }

    .dual-video-section {
        display: grid;
        justify-content: space-around;
    }

    .produkte {
        display: none;
    }

    #map {
        height: 150px;
        width: 90%;
        margin: 10px auto;
    }

    .main-div {
        flex-direction: column;
    }

    .left-menu {
        width: 100%;
        order: 2;
        margin-top: 20px;
        background-color: white;
       
    }

    .left-menu ul {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /* 3 coloane egale */
        gap: 10px;
        /* spațiu între elemente */
    }
    .left-menu ul li a{
        border: 1px solid green;
        margin: 4px;
        border-radius: 12px;
        padding: 4px;
    }

    .carousel {
        width: 100%;
    }

    .carousel-image {
        order: 1;
        width: 100%;
        height: 200px;
    }

}